<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <giftcard>
            <general>
                <enable>1</enable>
            </general>
            <general_test_child>
                <display_text>10</display_text>
            </general_test_child>
        </giftcard>

    </default>
</config>
